---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
    <div class="main">
        <h1 style="text-decoration: underline;">À propos</h1>
        <p>
            Ce site est fait pour montrer et présenter l'école moyenne
            <b>"Rebbahi Mohammed"</b> à Hammedi, Boumerdes. Ce site a été 
            possible grâce à celui qui a proposé l'idée, et celui qui a codé l'idée:
            <b>Abderrahmane Benari</b> ou "AbdooOwd" sur Internet.
        </p>
    </div>    
</Layout>

<style>
    .main {
        padding: 5vh 3vw;
    }
</style>