---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nouvelle Annonce">
    <div class="main">
        <div class="account" id="account-page">
            <h1>Entrez le mot-de-passe</h1>
            <input id="password" type="text" placeholder="Mot de passe..." />
            <button id="password-btn">Entrer</button>
            <span id="error"></span>
        </div>

        <div class="editor" id="editor-page">
            <h2>Poster une annonce</h2>
            <form>
                <input type="text" id="title" placeholder="Titre" required />
                <br />
                <textarea
                    id="content"
                    rows="20"
                    placeholder="Contenu de l'annonce"
                    required></textarea>
                <br />
                <button id="post-btn">Post</button>
            </form>
        </div>
    </div>
</Layout>

<style>
    .main {
        padding: 5vh 3vw;
    }

    .account {
        display: block;
    }

    .editor {
        display: none;
    }

    #title {
        width: 40%;
        font-size: larger;
        margin-bottom: 2vh;
    }

    #content {
        font-size: 0.8rem;
        resize: none;
        width: 75%;
        margin-bottom: 2vh;
    }

    #post-btn {
        cursor: pointer;
        padding: 2vh 10vw;
    }
</style>

<script src="../code/post_handling.ts"></script>

