<div class="footer">
    <center>
        <p>
            AbdooOwd - All rights reserved - Rebbahi Mohammed's Administration -
            2024
        </p>
    </center>
</div>

<style>
    .footer {
        position: relative;
        font-weight: bold;
        background-color: #161515;
        width: 100%;
        height: 30vh;
    }

    .footer p {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
